{% extends 'base.html' %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="inner-banner">
    <section class="w3l-breadcrumb">
      <div class="container">
        <ul class="breadcrumbs-custom-path">
          <li><a href="{% url 'home' %}">User Profile</a></li>
          
        </ul>
      </div>
    </section>
</div>
<div class="content-1 py-5">
        <div class="container py-md-5">
            <div class="row content-1-grids">
                <div class="col-lg-4 content-1-left forms-25-info">
                    <div class="header-title" style="text-align:center">
                    {% if not user.userImage %}
                        <img class="rounded" src="{% static 'userPage/img/user.jpg' %}" alt="" width="250px" >
                    {% else %}
                        <img class="rounded" src="{{user.userImage.url}}" alt="" width="250px" >

                    {% endif %}
                    <h3 class="hny-title mt-3">{{user.first_name|title}} {{user.last_name|title}} </h3>
                   
                     
                    </div>
                </div>
                
                <div class="col-lg-8 content-1-right pl-lg-5 mt-lg-0 mt-4" style="color:#F45B04">
                    <div class="col-lg-8 content-1-right pl-lg-5 mt-lg-0 mt-4" style="color:#F45B04">                          
                        <div class="row">
                            <h2>User Information</h2> 
                            
                            <div class="col-12 mt-3">
                                <label for="name" class="label">Name</label>
                                <input type="text" class="form-control" name="name" placeholder="{{user.first_name|title}}" disabled>
                            </div>
                            <div class="col-12">
                                <label for="surname" class="form-label">Surname</label>
                                <input type="text" class="form-control" name="surname" placeholder="{{user.last_name|title}}" disabled>
                            </div>                         
                            <div class="col-12 mt-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" name="username" placeholder="{{user.username}}" disabled>
                            </div>
                            <div class="col-12 mt-3">
                                <label for="birthday" class="form-label">Date Of Birth</label>
                                <input type="text" class="form-control" name="birthday" placeholder="{{user.birthday}}" disabled>
                            </div>
                            <div class="col-12 mt-3">
                                <label for="gender" class="form-label">Gender</label>
                                {% if user.gender == "1" %}
                                    <input class="form-control" type="text" name="gender" placeholder="Male" id="male" disabled>
                                {% else %}
                                    <input class="form-control" type="text" name="gender" placeholder="Female" id="male" disabled>

                                {% endif %}
                                    
                                    
                                                                        
                            </div>                                  
                            <div class="col-12 mt-5 text-center">
                                <a class="btn btn-primary" color="background-color:#F45B04" href="{% url 'profileEdit' user.username %}">Edit Your Information</a>
                            </div>  
                        </div>                             
                    </div>         
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


