{% extends 'base.html' %}

{%load static%}

{% block title %}Course Details{% endblock %}

{% block content %}
<div class="inner-banner">
    <section class="w3l-breadcrumb">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li><a href="{% url 'courses' %}">Course Name</a></li>
                <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span>{{course.courseName}} </li>
            </ul>
        </div>
    </section>
</div>
<div class="container mt-3">
    <div class="row">
        
        <div class="col-12">
            
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-body">
                            <h1 class="card-title h3 mb-3">                         
                                {{courses.courseName}}
                            </h1>
                            <img src="{{courses.image.url}}" alt="" class="img-fluid" style="float:left;margin-right:20px">
     
                            <p class="card-text">{{courses.description|safe}}</p>
                        </div>
                        
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</div>
{% endblock %}