{% block slider %}
<section class="w3l-main-slider" id="home">
    <div class="companies20-content">
        <div class="owl-one owl-carousel owl-theme">
            <div class="item">
                <li>
                    <div class="slider-info banner-view bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>A Great Place for Learning</h5>
                                    <p class="mt-4 pr-lg-4">Choose from over 100,000 online video courses with new
                                        additions published every month</p>
                                    <a class="btn btn-style btn-primary mt-xl-5 mt-4 mr-2" href="about.html"> Get
                                        Started <span class="fa fa-chevron-right ml-2"
                                            aria-hidden="true"></span></a>
                                    <a class="btn btn-style btn-white mt-xl-5 mt-4" href="services.html"> View
                                        Courses <span class="fa fa-chevron-right ml-2"
                                            aria-hidden="true"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info  banner-view banner-top1 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>Learning to Love, Loving to Learn</h5>
                                    <p class="mt-4 pr-lg-4">Choose from over 100,000 online video courses with new
                                        additions published every month</p>
                                    <a class="btn btn-style btn-primary mt-xl-5 mt-4 mr-2" href="about.html"> Get
                                        Started <span class="fa fa-chevron-right ml-2"
                                            aria-hidden="true"></span></a>
                                    <a class="btn btn-style btn-white mt-xl-5 mt-4" href="services.html"> View
                                        Courses <span class="fa fa-chevron-right ml-2"
                                            aria-hidden="true"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top2 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>A Great Place for Learning</h5>
                                    <p class="mt-4 pr-lg-4">Choose from over 100,000 online video courses with new
                                        additions published every month </p>
                                    <a class="btn btn-style btn-primary mt-xl-5 mt-4 mr-2" href="about.html"> Get
                                        Started <span class="fa fa-chevron-right ml-2"
                                            aria-hidden="true"></span></a>
                                    <a class="btn btn-style btn-white mt-xl-5 mt-4" href="services.html"> View
                                        Courses <span class="fa fa-chevron-right ml-2"
                                            aria-hidden="true"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top3 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>Learning to Love, Loving to Learn</h5>
                                    <p class="mt-4 pr-lg-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Velit
                                        quisquam, doloremque placeat aut numquam ipsam. </p>
                                    <a class="btn btn-style btn-primary mt-xl-5 mt-4 mr-2" href="about.html"> Get
                                        Started <span class="fa fa-chevron-right ml-2"
                                            aria-hidden="true"></span></a>
                                    <a class="btn btn-style btn-white mt-xl-5 mt-4" href="services.html"> View
                                        Courses <span class="fa fa-chevron-right ml-2"
                                            aria-hidden="true"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </div>
        <div class="w3l-banner-grids">
            <div class="bangrids-inn">
                <div class="banhny-grid-1">
                    <div class="banhny-grid-icon">
                        <span class="fa fa-laptop"></span>
                    </div>
                    <div class="banhny-grid-right-info">
                        <h6><a href="#url">100,000 online courses</a></h6>
                        <p>Focus is having the unwavering attention.</p>
                    </div>
                </div>
                <div class="banhny-grid-1">
                    <div class="banhny-grid-icon">

                        <span class="fa fa-users"></span>

                    </div>
                    <div class="banhny-grid-right-info">
                        <h6><a href="#url">Lifetime entrance</a></h6>
                        <p>New skills online the best way is to develop and follow.</p>
                    </div>
                </div>
                <div class="banhny-grid-1">
                    <div class="banhny-grid-icon">
                        <span class="fa fa-book"></span>
                    </div>
                    <div class="banhny-grid-right-info">
                        <h6><a href="#url">Live learning</a></h6>
                        <p>Start with your goals in mind and then work.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}